#style-1::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #style-1::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    border-radius: 5px;
  }
  
  /* Handle */
  #style-1::-webkit-scrollbar-thumb {
    background-color: rgb(59, 159, 216);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);;
    border-radius: 3px;
  }
  
  /* Handle on hover */
  #style-1::-webkit-scrollbar-thumb:hover {
    background: grey;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);;

  }

body {
    // font-family: 'Lusitana', Georgia, serif;
    font-family: 'Montserrat','Arial';
    direction: ltr;
    color: #F6F8FB;
    
}
a {
    text-decoration: none;
}

#preloader {
    position: fixed;
    inset: 0;
    z-index: 9999999999999;
    overflow: hidden;
    background-color: var(--bgcardcolor);
    transition: all 0.6s ease-out;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #preloader div {
    width: 13px;
    height: 13px;
    background-color: var(--maincolor);
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    position: absolute;
    left: 50%;
  }
  
  #preloader div:nth-child(1) {
    left: calc(50% + 8px);
    animation: animate-preloader-1 0.6s infinite;
  }
  
  #preloader div:nth-child(2) {
    left: calc(50% + 8px);
    animation: animate-preloader-2 0.6s infinite;
  }
  
  #preloader div:nth-child(3) {
    left: calc(50% + 32px);
    animation: animate-preloader-2 0.6s infinite;
  }
  
  #preloader div:nth-child(4) {
    left: calc(50% + 56px);
    animation: animate-preloader-3 0.6s infinite;
  }
  
  @keyframes animate-preloader-1 {
    0% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes animate-preloader-3 {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes animate-preloader-2 {
    0% {
      transform: translate(0, 0);
    }
  
    100% {
      transform: translate(24px, 0);
    }
  }
    

.main-title {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
    margin: auto;
    text-transform: uppercase;
    display: block;
    width: max-content;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #fff;
}
.main-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 0 0 15px 15px;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    background-color: #fff
}
.main-title::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 4px;
    border-radius: 0 0 15px 15px;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    background-color:#fff
}
@keyframes float-bob5 {
    0% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(-50px);
    }
}
@keyframes moveLeftBounce {
    0% {
        transform: translateX(-50px);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(-50px);
    }
}
@keyframes moveLeftBounce-two {
    0% {
        transform: translateX(-50px);
    }
    50% {
        transform: translateX(450px);
    }
    100% {
        transform: translateX(-50px);
    }
}
@keyframes moveslow {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(75px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes dance {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1.2);
    }
}

// back to tp button
.back-to-top {
    position: fixed;
    display: none;
    right: 25px;
    bottom: 25px;
    z-index: 99;
    background-image: linear-gradient(147deg, var(--maincolor) 0%, var(--secondcolor) 74%);
    color: #fff;
    border-radius: 100%;
    padding: 10px;
    width: 50px;
    height: 50px;
    box-shadow: 0px 4px 60px rgba(62, 130, 252, 0.50); 
    animation: pulse 1.5s;
    animation-iteration-count: infinite;
    box-shadow: 0 0 0 2em transparent;
    transition: .7s;
    &:hover{
        background: #fff;
        color: var(--maincolor);
        border: 1px solid var(--secondcolor);
        transition: .7s;
        transform: translateY(-50%);

    }
    @keyframes pulse {
        0% { box-shadow: 0 0 0 0 var(--secondcolor); }
      }
}