@media (max-width:1124px) and (min-width:1000){
    .about-section .img-box {
        width: 350px;
        height: 360px;
    }
    .about-section .img-box .circle-shape {
        left: 160px;
    }
}
@media (max-width:770px) {
    .why_cptit .box {
        margin: auto;
        margin-bottom: 1.5rem;
    }
    .testimonials .blog-slider__button {
        font-size: 12px;
        padding: 10px 20px;
    }
    .testimonials .blog-slider__code, .testimonials .blog-slider__title {
        margin-bottom: 12px;
    }
}
@media (max-width:1000px) {
    .parteners .owl-item .item {
        margin: auto;
    }
    .main-title {
        font-size: 30px;
    }
    .first_section .bunner-slider .blog-slider__pagination {
        right: -80px;
    }
    .expertise .flip-box  {
        width: 333px !important
    }
    .about-section .img-box {
        margin: auto;
        margin-top: 3rem ;
    }
    .about-section .img-box .shape-dots {
        top: 0;
    }
    .services .service-box {
        margin-bottom: 2rem !important;
        margin-top: 0 !important;
    }
    .services .service-heading {
        margin-top: 0;
    }
    .first_section .bunner-slider .blog-slider__img::before, .first_section .bunner-slider .blog-slider__img::after {
        display: none;
    }
    .first_section .navbar .nav-link::before {
        width: 5%;
        left: 25px;
    }
}
@media (max-width:470px) {
    .testimonials .blog-slider {
        min-height: 575px;
    }
    .testimonials .blog-slider__pagination {
        top: 540px;
    }
    .main-title {
        font-size: 20px;
    }
    .first_section .bunner-slider .blog-slider__pagination {
        top: 470px;
    }
    .first_section .bunner-slider .blog-slider__img {
        height: 200px !important;
        width: 70%;
        
    }
    .first_section .bunner-slider .blog-slider__img img {
        border-radius: 10px;
    }
    .first_section .bunner-slider .blog-slider__content {
        height: auto;
        width: auto;
        margin-top: -44px;
    }
    .first_section .bunner-slider .blog-slider__content .blog-slider__title {
        font-size: 35px;
        margin-bottom: 10px;
    }
    .first_section .bunner-slider .blog-slider__content .blog-slider__text {
        font-size: 15px;
        line-height: 1.3;
    }
    .first_section .bunner-slider .blog-slider__content .line {
        margin-bottom: 1rem !important;
    }
}
@media (min-width: 760px) and ( max-width: 1000px){
    .products .product-box .product-inner .product-content {
        top: 140px;
    }
    .products .product-box .product-inner .product-content .product-content-inner h3 a {
        font-size: 22px;
    }
    .products .product-box .product-inner .product-content .product-content-inner p {
        font-size: 12px;
    }
}
@media (max-width:550px) and (min-width:400px) {
    .products .product-box {
        margin-bottom: 150px;
    }
    .products .product-box .product-inner .product-content {
        top: 185px;
    }
}
@media (max-width:620px) and (min-width:500px) {
    .about-section .tabs {
        width: 450px;
        /* height: auto; */
    }
    .about-section .tabs .nav-tabs .nav-item .nav-link {
        font-size: 16px;
    }
    .about-section .tabs .tab-content {
        font-size:  14px;
    }
}
@media (max-width:400px) {
    .products .product-box .product-inner .product-content {
        top: 140px;
    }
    .products .product-box .product-inner .product-content .product-content-inner h3 a {
        font-size: 22px;
    }
    .products .product-box .product-inner .product-content .product-content-inner p {
        font-size: 12px;
    }
}