//  font-family
@font-face {
    font-family: nexa-light;
    src: url(../../fonts/Nexa-Light.otf);
}
@font-face {
    font-family: nexa-bold;
    src: url(../../fonts/Nexa-Bold.otf);
}
@font-face {
    font-family: marai-regular;
    src: url(../../fonts/Almarai/Almarai-Regular.ttf);
}
@font-face {
    font-family: marai-bold;
    src: url(../../fonts/Almarai/Almarai-Bold.ttf);
}
:root {
    --englishLightFont: nexa-light;
    --englishBoldFont: nexa-bold;
    --arabicRegularFont: marai-regular;
    --arabicBoldFont: marai-bold;
}
 /* Global Colors */
 :root {
--maincolor:#2c9ce2;
--secondcolor:#2f6c9a;
--secondarycolor: #4e4e4e;
--bgcardcolor: #e3e3e3;
 }
 /* Smooth scroll */
 :root {
    scroll-behavior: smooth;
  }
// font-size
:root {

}