.subscribe {
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-image: url(../assets/images/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
        color: #fff;
        font-weight: bolder;
        font-family: 'Cabin', arial, sans-serif;
        font-size: 50px;
        margin-bottom: 3rem;
        text-align: center;
    }
    p {
        text-align: center;
        color: #fff;
        margin-bottom: 2rem;
    }
    .form-control {
        background: transparent;
        width: 70%;
        margin: auto;
        outline: none;
        margin-bottom: 2rem;
    }
    .sign {
        display: block;
        text-align: center;
        .sign-up {
            margin: auto;
            width: 160px;
            padding: 7px 10px;
            border-radius: 20px;
            font-size: 22px;
            color: var(--maincolor);
            background: transparent;
            border: 2px solid var(--maincolor);
            outline: none;
            cursor: pointer;
            box-shadow: 0px 3px 10px -5px rgba(62, 130, 252, 0.50);
            transition: all 0.3s ease-in-out 0s;
        }
        .sign-up:hover {
            background-color: var(--maincolor);
            color: #fff;
            border: 2px solid transparent;
        }
    }
    
}
.footer {
    position: relative;
    background-color: #060922;
    padding: 3rem 0 1rem;
    .overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        background-image: url(../assets/images/footer__3.PNG);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        transition: all 0.5s ease-in-out 0s;
    }
  .subscribe-area {
    background-image: url(../assets/images/subscribe-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 48px 35px 40px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    margin-top: -140px;
    .title {
        margin-bottom: 2rem;
    }
    .subscribe_form {
        input {
            font-size: 14px;
            height: 68px;
            padding: 5px 25px;
            position: relative;
            width: 100%;
            background: #ffffff;
            border: 0;
            margin-bottom: 14px;
            border-radius: 35px;
            text-align: left;
        }
        button {
            transition: all 0.4s ease 0s;
            border: medium none;
            border-radius: 35px;
            background: #21aaff;
            color: #fff;
            font-family: 'Fira Sans';
            font-weight: 500;
            text-align: center;
            padding: 13px 30px;
            position: absolute;
            right: 24px;
            top: 9px;
            display: inline-block;
            z-index: 1; 
        }
        .btn:hover {
            color: #21aaff;
            background-color: #fff;
            border: 1px solid #21aaff;
        }
    }
    .subscribe-shape {
        @keyframes float-bob5 {
            0% {
                transform: translateY(-50px);
            }
            50% {
                transform: translateY(-10px);
            }
            100% {
                transform: translateY(-50px);
            }
        }
        @keyframes moveLeftBounce {
            0% {
                transform: translateX(-50px);
            }
            50% {
                transform: translateX(50px);
            }
            100% {
                transform: translateX(-50px);
            }
        }
        .bounce-animate5 {
            animation-name: float-bob5;
            animation-duration: 6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        .left-shape {
            position: absolute;
            left: 0;
            top: 52px;
        }
        .right-shape {
            position: absolute;
            right: 55px;
            top: 21px;
            animation: moveLeftBounce 7s linear infinite;
        }
    }
  }
  .content {
    .white-logo {
        margin: 2rem 0;
        img {
            filter: brightness(0) invert(1);
        }
    }
    p {
        text-align: justify;
    }
    .social-links {
        margin: 20px 0;
        display: flex;
        align-items: center;
        a {
            text-decoration: none;
            height: 35px;
            width: 35px;
            color: #fff;
            line-height: 35px;
            border: 1px solid #fff;
            text-align: center;
            border-radius: 7px;
            margin: 0 5px;
            transition: all 0.5s ease-in-out;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            img {
                width: 50%;
                filter: brightness(0) invert(1);
            }
            .fab:hover {
                color: #fff;
                transition: all 0.5s ease-in-out;
            }
            &.face:hover {
                background-color: blue;
                border: none;
                transition: all 0.5s ease-in-out;
            }
            &.twitt:hover {
                background-color: #1DA1F2;
                border: none;
                transition: all 0.5s ease-in-out;
            }
            &.insta:hover {
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                border: none;
                transition: all 0.5s ease-in-out;
            }
            &.youtube:hover {
                background-color: #c4302b;
                border: none;
                transition: all 0.5s ease-in-out;
            }
        }
        // i {
        //     height: 35px;
        //     width: 35px;
        //     color: #fff;
        //     line-height: 35px;
        //     border: 1px solid #fff;
        //     text-align: center;
        //     border-radius: 7px;
        //     margin: 0 5px;
        //     transition: all .5s ease-in-out;
        // }
        
    }
    .title {
        font-size: 28px;
        color: #fff;
        margin: 2.5rem 0;
        font-weight: 600;
        margin-left: 1rem;
        position: relative;
    }
    .title::before {
        position: absolute;
        content: "";
        left: 0;
        top: 50px;
        background: #2f6c9a;
        width: 60px;
        height: 2px;
        border-radius: 50%;
        transition: .5s;
    }
    .contact-list{
        list-style: none;
        line-height: 2;
       li {
        position: relative;
        transition: all .3s ease-in-out;
            .initial-link {
                line-height: 2;
                text-decoration: none;
                color: #fff;
                background: linear-gradient( to right, #21aaff, 50%, #fff 50%);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                background-size: 200% 100%;
                background-position: 100%;
                transition: 0.3s;
                i {
                    margin-right: 10px;
                }
            }
            .initial-link:hover {
                background-position: 0;
                transform: translateX(10px);
            }
        }
        li:hover {
            transform: translateX(10px);
        }
       
        // li::before {
        //     position: absolute;
        //     content: "";
        //     left: -20px;
        //     top: 14px;
        //     background: #2f6c9a;
        //     width: 10px;
        //     height: 2px;
        //     transition: .5s;
        // }
        // li:hover::before {
        //     background: #fff;
        // }
    }
    .contact-list {
        line-height: 2;
        padding: 0;
        // li::before {
        //     display: none;
        // }
        .info {
            display: flex;
            margin-bottom: 1rem;
            .info-icon {
                width: 25px;
                height: 25px;
                margin-right: 10px;
                img {
                    width: 100%;
                }
            }
        }
    }
  }
  .foot-end {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-top: 1px solid #7c7c7c;
    figure {
        margin: 0;
        width: 180px;
        img {
            filter: brightness(0) invert(1);
        }
    }
  }
}