body {
  direction: rtl;
  font-family: var(--arabicRegularFont) !important;
}

.first_section .logo-shape {
  left: unset;
  right: -50px;
}
.first_section .logo-shape img {
  transform: rotateY(180deg);
}

.first_section .bunner-slider .blog-slider__content {
  padding-right: 0;
  padding-left: 25px;
  text-align: right;
}

.first_section .bunner-slider .blog-slider__img::before {
  left: unset;
  right: -11px;
  border-radius: 2px 130px 2px;
}

.first_section .bunner-slider .blog-slider__img::after {
  right: unset;
  left: -11px;
}

.first_section .bunner-slider .blog-slider__img img {
  border-radius: 10px 130px 10px 10px;
}

.first_section .bunner-slider .blog-slider__pagination {
  left: -20px !important;
  right: auto !important;
}

.testimonials .testi-corner {
  left: unset;
  right: -50px;
}
.testimonials .testi-corner img {
  transform: rotateY(180deg);
}

.testimonials::after {
  right: unset;
  left: 0;
  background-color: #1e1b2c #21aaff #21aaff #1e1b2c;
}

.testimonials .blog-slider__img {
  transform: translateX(80px);
}

.testimonials .blog-slider__content {
  padding-right: 0;
  padding-left: 25px;
  text-align: right;
}

.testimonials .blog-slider__pagination {
  right: unset;
  left: 25px !important;
}

.footer .subscribe-area .title {
  text-align: right;
}

.footer .content .white-logo {
  text-align: right;
}

.footer .content .social-links {
  text-align: right;
}

.footer .content .title {
  text-align: right;
}
.footer .content .title::before {
  left: unset;
  right: 0;
}

.footer .content ul {
  text-align: right;
}

.footer .content ul li::before {
  left: unset;
  right: -20px;
}

.footer .content .contact-list .info .info-icon {
  margin-right: unset;
  margin-left: 10px;
}

.footer .content .contact-list li .initial-link i {
  margin-right: unset;
  margin-left: 10px;
}

.footer .content .contact-list li .initial-link:hover {
  transform: translateX(-10px);
}

.bunner .title {
  left: unset;
  right: 5%;
}
.bunner .title ul {
  padding-right: 0;
}

.about-section .img-box {
  margin-left: unset;
  margin-right: auto;
}
.about-section .img-box .about-img {
  border-radius: 10px 150px 10px 10px;
}
.about-section .img-box .shape-dots {
  left: 0;
}

.about-section .tabs .nav-tabs {
  padding-inline-start: unset;
}

.expertise .flip-box .flip-box-inner .flip-box-back ul {
  text-align: right;
}

.expertise .flip-box .flip-box-inner .flip-box-back .find-btn::before {
  left: unset;
  right: -2px;
}

.services .service-heading .title {
  text-align: right;
}

.services .services-cards .service-box .service-num {
  right: unset;
  left: 2rem;
}

.services .services-cards .active .service-content .service-text {
  text-align: right;
}

.services .services-cards .service-box .read-more i {
  margin-left: unset;
  margin-right: 10px;
}

.contact .row .pl-0 {
  padding-left: unset !important;
  padding-right: 0 !important;
}

.contact .row .pr-0 {
  padding-right: unset !important;
  padding-left: 0 !important;
}

.contact .location-side p {
  text-align: right;
}

.contact .location-side .info-panel {
  text-align: right;
}
.contact .location-side .info-panel .info-icon {
  margin-right: unset;
  margin-left: 10px;
}

.contact .message-side {
  text-align: right;
}

.contact .message-side .input-area .input-box .input-label {
  left: unset;
  right: 0;
}

.contact .message-side .input-area .more-btn {
  margin-right: auto;
}
.contact .message-side .input-area .more-btn::before {
  left: unset;
  right: -2px;
}

.sys-admin .left-side .sidebar .title {
  text-align: right;
}
.sys-admin .left-side .sidebar .sidebar-list li {
  text-align: right;
}
.sys-admin .left-side .sidebar .sidebar-list li i {
  margin-right: unset;
  margin-left: 10px;
  transform: rotate(180deg);
}

.sys-admin .right_side p {
  text-align: right;
}
.sys-admin .right_side .primary-title {
  text-align: right;
}
.sys-admin .right_side .primary-title::after {
  left: unset;
  right: 0;
}
.sys-admin .right_side .secondary-title {
  text-align: right;
}
.sys-admin .right_side ul li {
  text-align: right;
}
.sys-admin .right_side ul li .img-box {
  margin-right: unset;
  margin-left: 10px;
}

.product-content-inner {
  text-align: right;
}

.products .product-box .product-inner .product-content .product-content-inner p {
  text-align: right;
}

.products .product-box .product-inner .product-content .product-content-inner .product-icon i {
  float: left;
}

.products .product-box .product-inner .product-content::after {
  right: unset;
  left: 0;
  border-radius: 0px 55px 0px 5px;
}

.products .product-box .product-inner .product-content::before {
  right: unset;
  left: 0;
  border-radius: 0px 55px 0px 5px;
}

.faq .card .accordion .accordion-item h2 figure {
  margin-right: unset;
  margin-left: 20px;
}
.faq .card .accordion .accordion-item h2 i {
  margin-left: unset;
  margin-right: auto;
}

.blog-cpt .blog-sidebar {
  margin-left: unset;
  margin-right: 4rem;
}
.blog-cpt .blog-sidebar .search-box .search-form .search-input {
  text-align: right;
}
.blog-cpt .blog-sidebar .search-box .search-form .search-btn {
  right: unset;
  left: 0;
}
.blog-cpt .blog-sidebar .sidebar-content .category-title {
  text-align: right;
}
.blog-cpt .blog-sidebar .sidebar-content .category-title::before {
  left: unset;
  right: 0;
}
.blog-cpt .blog-sidebar .sidebar-content .category-list li {
  text-align: right;
}
.blog-cpt .blog-sidebar .sidebar-content .category-list li:hover i {
  transform: translateX(-5px);
}
.blog-cpt .blog-sidebar .sidebar-content .category-list li i {
  margin-right: unset;
  margin-left: 10px;
}

.blog-cpt .posts .post-box .post-img .post-date {
  left: unset;
  right: 0.75rem;
}
.blog-cpt .posts .post-box .post-summary {
  text-align: right;
}
.blog-cpt .posts .post-box .post-summary .post-category a i {
  margin-right: unset;
  margin-left: 10px;
}
.blog-cpt .posts .post-box .post-summary .post-text .read-more i {
  margin-left: unset;
  margin-right: 10px;
}

.footer .subscribe-area .subscribe_form input {
  text-align: right;
}
.footer .subscribe-area .subscribe_form button {
  right: unset;
  left: 24px;
}

.chat_header figure {
  margin-right: unset;
  margin-left: 1rem;
}/*# sourceMappingURL=main-rtl.css.map */