body {
    direction: rtl;
    font-family: var(--arabicRegularFont) !important;
}
// home page
.first_section .logo-shape {
    left: unset;
    right: -50px;
    img {
        transform: rotateY(180deg);
    }
}
.first_section .bunner-slider .blog-slider__content {
    padding-right: 0;
    padding-left: 25px;
    text-align: right;
}
.first_section .bunner-slider .blog-slider__img::before {
    left: unset;
    right: -11px;
    border-radius: 2px 130px 2px;
}
.first_section .bunner-slider .blog-slider__img::after {
    right: unset;
    left: -11px;
}
.first_section .bunner-slider .blog-slider__img img {
    border-radius: 10px 130px 10px 10px;
}
.first_section .bunner-slider .blog-slider__pagination {
    left: 0px !important;
    right: auto !important;
}
.testimonials .testi-corner {
    left: unset;
    right: -50px;
    img {
        transform: rotateY(180deg);
    }
}
.testimonials::after {
    right: unset;
    left: 0;
    background-color: #1e1b2c #21aaff #21aaff #1e1b2c;
}
.testimonials .blog-slider__img {
    transform: translateX(80px);
}
.testimonials .blog-slider__content {
    padding-right: 0;
    padding-left: 25px;
    text-align: right;
}
.testimonials .blog-slider__pagination {
    right: unset;
    left: 25px !important;
}
.footer .subscribe-area .title {
    text-align: right;
}
.footer .content .white-logo {
    text-align: right;
}
.footer .content .social-links {
    text-align: right;
}
.footer .content .title {
    text-align: right;
    &::before {
        left: unset;
        right: 0;
    }
}
.footer .content ul  {
    text-align: right;
}
.footer .content ul li::before {
    left: unset;
    right: -20px;
}
.footer .content .contact-list .info .info-icon {
    margin-right: unset;
    margin-left: 10px;
}
.footer .content .contact-list li .initial-link i {
    margin-right: unset;
    margin-left: 10px;
}
.footer .content .contact-list li .initial-link:hover {
    transform: translateX(-10px);
}



// about us page

.bunner .title {
    left: unset;
    right: 5%;
    ul {
        padding-right: 0;
    }
}
.about-section .img-box {
    margin-left: unset;
    margin-right: auto;
    .about-img {
        border-radius: 10px 150px 10px 10px;
    }
    .shape-dots {
        left: 0;
    }
}
.about-section .tabs .nav-tabs {
    padding-inline-start: unset
}




// expertise page
.expertise .flip-box .flip-box-inner .flip-box-back ul {
    text-align: right;
}
.expertise .flip-box .flip-box-inner .flip-box-back .find-btn::before {
    left: unset;
    right: -2px;
}




// services page
.services .left-side .title {
    text-align: right;
}
.services .right-side .service-box .service-num {
    right: unset;
    left: 2rem;
}
.services .right-side .active .service-content .service-text {
    text-align: right;
}
.services .right-side .service-box .read-more i {
    margin-left: unset;
    margin-right: 10px;
}




// contact us page
.contact .row .pl-0 {
    padding-left: unset !important;
    padding-right: 0 !important;
}
.contact .row .pr-0 {
    padding-right: unset !important;
    padding-left: 0 !important;
}
.contact .location-side p {
    text-align: right;
}
.contact .location-side .info-panel {
    text-align: right;
    .info-icon {
        margin-right: unset;
        margin-left: 10px;
    }
}
.contact .message-side {
    text-align: right;
}
.contact .message-side .input-area .input-box .input-label {
    left: unset;
    right: 0;
}
.contact .message-side .input-area .more-btn {
    margin-right: auto;
    &::before {
        left: unset;
        right: -2px;
    }
}




// sys-admin page
.sys-admin .left-side .sidebar {
    .title {
        text-align: right;
    }
    .sidebar-list li {
        text-align: right;
        i {
            margin-right: unset;
            margin-left: 10px;
            transform: rotate(180deg);
        }
    } 
} 
.sys-admin .right_side {
    p {
        text-align: right;
    }
    .primary-title {
        text-align: right;
        &::after {
            left: unset;
            right: 0;
        }
    }
    .secondary-title {
        text-align: right;
    }
    ul li {
        text-align: right;
        .img-box {
            margin-right: unset;
            margin-left: 10px;
        }
    }
}




// Products page
.product-content-inner {
    text-align: right;
}
.products .product-box .product-inner .product-content .product-content-inner p {
    text-align: right;
}
.products .product-box .product-inner .product-content .product-content-inner .product-icon i {
    float: left;
}
.products .product-box .product-inner .product-content::after {
    right: unset;
    left: 0;
    border-radius: 0px 55px 0px 5px;
}
.products .product-box .product-inner .product-content::before {
    right: unset;
    left: 0;
    border-radius: 0px 55px 0px 5px;
}




// FAQ page
.faq .card .accordion .accordion-item h2 {
    figure {
        margin-right: unset;
        margin-left: 20px;
    }
    i {
        margin-left: unset;
        margin-right: auto;
    }
}
// blog page
.blog-cpt .blog-sidebar {
    margin-left: unset;
    margin-right: 4rem;
    .search-box {
        .search-form {
            .search-input {
                text-align: right;
            }
            .search-btn {
                right: unset;
                left: 0;
            }
        }
    }
    .sidebar-content {
        .category-title {
            text-align: right;
            &::before {
                left: unset;
                right: 0;
            }
        }
        .category-list {
            li {
                text-align: right;
                &:hover {
                    i {
                       transform: translateX(-5px);
                    }
                }
                i {
                    margin-right: unset;
                    margin-left: 10px;
                }
            }
        }
    } 
}
.blog-cpt .posts .post-box {
    .post-img .post-date {
        left: unset;
        right: 0.75rem;
    }
    .post-summary {
        text-align: right;
        .post-category a i {
            margin-right: unset;
            margin-left: 10px;
        }
        .post-text .read-more i {
            margin-left: unset;
            margin-right: 10px;
        }
    }
} 
// chat bot
.chat_header figure {
    margin-right: unset;
    margin-left: 1rem;
}
