.contact {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #f6f8fb;
    .mapouter {
        box-shadow: 0 0 4px rgb(0 0 0 / 12%);
        width: 100%;
        .gmap_canvas {
            width: 100%;
        }
    }
    .location-side {
        position: relative;
        box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 10%);
        padding: 43px;
        border-radius: 5px;
        background-color: #000531;
        z-index: 0;
        .overlay {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            display: block;
            transition: all 0.5s ease-in-out 0s;
            background-image: url(../images/pattern-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            opacity: 0.25;
        }
        p {
            font-family: cursive;
            font-size: 20px;
            color: #dd9e18;
            margin-bottom: 2.5rem;
        }
        .info-panel {
            display: flex;
            justify-items: start;
            margin-bottom: 2rem;
            .info-icon {
                width: 2rem;
                margin-right: 1rem;
                img {
                    width: 100%;
                }
            }
            .info-title {
                font-weight: 600;
                letter-spacing: 1.5px;
                font-size: 1.5rem;
            }
            .info-text {
                color: #dcdcdc;
                font-size: 1rem;
            }
        }
    }
    .message-side {
        padding-left: 3rem;
        background-color: #fff;
        box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 10%);
        border-radius: 5px;
        padding: 30px 40px 40px;
        margin-top: -1.5rem;
        .title {
            font-size: 3.5rem;
            margin-bottom: 0.75rem;
            font-weight: 900;
            text-transform: capitalize;
            letter-spacing: 1.5px;
            line-height: 1.3;
            color: #2f6c9a;
        }
        p {
            margin: 0 auto;
            margin-bottom: 1.25rem;
            font-size: 1.1rem;
            font-weight: 400;
            text-transform: capitalize;
            color: #060922;
            opacity: 0.75;
        }
        .bottom-line {
            display: block;
            position: relative;
            width: 5rem;
            height: 4px;
            background: #21aaff;
            border-radius: 1rem;
        }
        .input-area {
            margin-top: 5rem;
            .input-box {
                position: relative;
                margin-bottom: 3rem;
                .input-text {
                    display: block;
                    width: 100%;
                    padding: 0.75rem;
                    outline: none;
                    border: 1px solid #c0c1c7;
                    background: #fff;
                    margin-bottom: 1rem;
                    transition: all 0.3s ease-in-out 0s;
                }
                .input-text:focus {
                    border: 1px solid #21aaff;
                }
                .input-label {
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 600;
                    color: #060922;
                    text-transform: capitalize;
                    position: absolute;
                    left: 0;
                    top: -30px;
                    transition: all 0.3s ease-in-out 0s;
                    span {
                        color: red;
                    }
                }
                .input-text:focus~.input-label {
                    color: #21aaff;
                }
            }
            .more-btn{
                margin-top: 1rem;
                outline: none;
                text-decoration: none;
                font-size: 16px;
                color: #ffffff;
                width: fit-content;
                padding: 12px 30px;
                text-transform: uppercase;
                position: relative;
                display: block;
                cursor: pointer;
                text-align: center;
                overflow: hidden;
                z-index: 1;
                border: none;
                border-radius: 8px;
                background: #21aaff;
                box-shadow: 0 3px 24px rgb(0 0 0 / 10%);
                i {
                    margin-left: 8px;
                    color: #fff;
                }
            }
            .more-btn:hover {
                color: #fff;
            }
            .more-btn::before {
                position: absolute;
                content: "";
                left: -2px;
                top: -2px;
                width: 15px;
                height: 15px;
                border-radius: 8px;
                transition: .5s; 
                z-index: -1;
                background: linear-gradient(to left, #345883 20%, #4f9ed9 100%);
                transition: all 0.4s ease-in-out;
                -webkit-transition: all 0.4s ease-in-out;
            }
            .more-btn:hover::before {
                width: 105%;
                height: 105%;
            }
            // .btn-solid {
            //     padding: 0.75rem 2.25rem;
            //     color: #21aaff;
            //     border: 1px solid #21aaff;
            //     border-radius: 40px;
            //     box-shadow: 0px 3px 10px -5px  #000531;
            //     outline: none;
            //     background-color: #fff;
            //     cursor: pointer;
            //     transition: all 0.3s ease-in-out 0s;
            // }
            // .btn-solid:hover {
            //     color: #fff;
            //     border: #fff;
            //     background-color: #21aaff;
            // }
        }
    }
}