
.products {
    padding: 100px 0 100px;
    background-color: #F6F8FB;
    .product-box {
        overflow: hidden;
        margin-bottom: 140px;
        transition: .5s;
        text-align: left;
        border-radius: 10px;
        box-shadow: 0 0 4px rgb(0 0 0 / 12%);
        .product-inner {
            .product-thumb {
                transition: .5s;
                position: relative;
                overflow: hidden;
                img {
                    width: 100%;
                    height: auto;
                    display: block;
                    transform: scale(1);
                    transition: .5s;
                    -webkit-filter: inherit;
                }
            }
            .product-thumb::before {
                position: inherit;
                content: "";
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                width: 88%;
                height: 88%;
                background: inherit;
                transform: scale(0);
                margin: auto;
                z-index: 1;
                transition: .5s;
            }
            .product-content {
                position: absolute;
                height: auto;
                transition: .5s;
                top: 225px;
                left: 11%;
                border-radius: 5px;
                background: #fff;
                opacity: 1;
                z-index: 1;
                width: 78%;
                padding: 10px 20px;
                box-shadow: 0 0 4px rgb(0 0 0 / 12%);
                .product-content-inner {
                    h3 a {
                        margin: 0 0px 15px;
                        color: #2f6c9a;
                        font-family: 'Rajdhani', sans-serif;
                        text-decoration: none;
                        font-style: normal;
                        line-height: 1.2;
                        transition: 0.5s;
                        font-weight: 600;
                        font-size: 27px;
                    }
                    p {
                        color: #4e4e44;
                        transition: 0.5s;
                        font-size: 14px;
                        text-align: left;
                    }
                    .product-icon {
                        i {
                            float: right;
                            display: inline-block;
                            margin-top: -9px;
                            font-size: 20px;
                            color: #fff;
                            margin-right: -6px;
                            transition: .5s;
                        }
                    }
                }
                .product-content-inner::before {
                    position: absolute;
                    content: "";
                    z-index: -1;
                    left: 0;
                    top: 0;
                    background: linear-gradient(to left, #21aaff 20%, #2f6c9a 100%);
                    width: 0;
                    height: 100%;
                    transition: .5s;
                    border-radius: 5px;
                }
            }
            .product-content::before {
                position: absolute;
                content: "";
                z-index: -1;
                right: 0;
                bottom: 0;
                background: linear-gradient(to left, #21aaff 0%, #2f6c9a 100%);
                width: 60px;
                height: 52px;
                border-radius: 55px 0 5px 0;
                transition: .5s;
            }
            .product-content::after {
                position: absolute;
                content: "";
                z-index: -1;
                right: 0;
                bottom: 0;
                background: #fff;
                width: 0;
                height: 52px;
                border-radius: 55px 0 5px 0;
                transition: .5s;
            }
        }
        
    }
    .product-box:hover {
        .product-thumb{
            img {
                transform: scale(1.1);
            }
        } 
        .product-content {
            .product-content-inner {
                h3 a,p {
                    color: #fff;
                }
                .product-icon {
                    i {
                        color: #21aaff;
                    }
                }
            }
            .product-content-inner::before {
                width: 100%;
               } 
        }
       .product-content::after {
        width: 60px;
        
       }
       
      
    }
    .rasel {
        .product-inner {
            .product-content {
                position: absolute;
                height: auto;
                transition: .5s;
                top: 225px;
                left: 11%;
                border-radius: 5px;
                background: #fff;
                opacity: 1;
                z-index: 1;
                width: 78%;
                padding: 10px 20px;
                box-shadow: 0 0 4px rgb(0 0 0 / 12%);
                .product-content-inner {
                    h3 a {
                        margin: 0 0px 15px;
                        color: #61b871;
                        font-family: 'Rajdhani', sans-serif;
                        text-decoration: none;
                        font-style: normal;
                        line-height: 1.2;
                        transition: 0.5s;
                        font-weight: 600;
                        font-size: 27px;
                    }
                    p {
                        color: #4e4e44;
                        transition: 0.5s;
                        font-size: 14px;
                        text-align: left;
                    }
                    .product-icon {
                        i {
                            float: right;
                            display: inline-block;
                            margin-top: -9px;
                            font-size: 20px;
                            color: #fff;
                            margin-right: -6px;
                            transition: .5s;
                        }
                    }
                }
                .product-content-inner::before {
                    position: absolute;
                    content: "";
                    z-index: -1;
                    left: 0;
                    top: 0;
                    background: linear-gradient(to left, #01f92d 20%, #61b871 100%);
                    width: 0;
                    height: 100%;
                    transition: .5s;
                    border-radius: 5px;
                }
            }
            .product-content::before {
                position: absolute;
                content: "";
                z-index: -1;
                right: 0;
                bottom: 0;
                background:  linear-gradient(to left, #01f92d 20%, #61b871 100%);
                width: 60px;
                height: 52px;
                border-radius: 55px 0 5px 0;
                transition: .5s;
            }
            .product-content::after {
                position: absolute;
                content: "";
                z-index: -1;
                right: 0;
                bottom: 0;
                background: #fff;
                width: 0;
                height: 52px;
                border-radius: 55px 0 5px 0;
                transition: .5s;
            }
        }
    }
    .rasel:hover {
        .product-content {
            .product-content-inner {
                h3 a,p {
                    color: #fff;
                }
                .product-icon {
                    i {
                        color: #61b871;
                    }
                }
            }
            .product-content-inner::before {
                width: 100%;
            } 
        }
        .product-content::after {
            width: 60px;
            
        }
    }

    .sahati {
        .product-inner {
            .product-content {
                position: absolute;
                height: auto;
                transition: .5s;
                top: 225px;
                left: 11%;
                border-radius: 5px;
                background: #fff;
                opacity: 1;
                z-index: 1;
                width: 78%;
                padding: 10px 20px;
                box-shadow: 0 0 4px rgb(0 0 0 / 12%);
                .product-content-inner {
                    h3 a {
                        margin: 0 0px 15px;
                        color: #feb040;
                        font-family: 'Rajdhani', sans-serif;
                        text-decoration: none;
                        font-style: normal;
                        line-height: 1.2;
                        transition: 0.5s;
                        font-weight: 600;
                        font-size: 27px;
                    }
                    p {
                        color: #4e4e44;
                        transition: 0.5s;
                        font-size: 14px;
                        text-align: left;
                    }
                    .product-icon {
                        i {
                            float: right;
                            display: inline-block;
                            margin-top: -9px;
                            font-size: 20px;
                            color: #fff;
                            margin-right: -6px;
                            transition: .5s;
                        }
                    }
                }
                .product-content-inner::before {
                    position: absolute;
                    content: "";
                    z-index: -1;
                    left: 0;
                    top: 0;
                    background: linear-gradient(to left, rgb(252 178 66 / 63%) 0%, #feb040 100%);
                    width: 0;
                    height: 100%;
                    transition: .5s;
                    border-radius: 5px;
                }
            }
            .product-content::before {
                position: absolute;
                content: "";
                z-index: -1;
                right: 0;
                bottom: 0;
                background:  linear-gradient(to left, rgb(252 178 66 / 63%) 0%, #feb040 100%);
                width: 60px;
                height: 52px;
                border-radius: 55px 0 5px 0;
                transition: .5s;
            }
            .product-content::after {
                position: absolute;
                content: "";
                z-index: -1;
                right: 0;
                bottom: 0;
                background: #fff;
                width: 0;
                height: 52px;
                border-radius: 55px 0 5px 0;
                transition: .5s;
            }
        }
    }
    .sahati:hover {
        .product-content {
            .product-content-inner {
                h3 a,p {
                    color: #fff;
                }
                .product-icon {
                    i {
                        color: #feb040;
                    }
                }
            }
            .product-content-inner::before {
                width: 100%;
            } 
        }
        .product-content::after {
            width: 60px;
            
        }
    }

    .rayak {
        .product-inner {
            .product-content {
                position: absolute;
                height: auto;
                transition: .5s;
                top: 225px;
                left: 11%;
                border-radius: 5px;
                background: #fff;
                opacity: 1;
                z-index: 1;
                width: 78%;
                padding: 10px 20px;
                box-shadow: 0 0 4px rgb(0 0 0 / 12%);
                .product-content-inner {
                    h3 a {
                        margin: 0 0px 15px;
                        color: #dc2a47a3;
                        font-family: 'Rajdhani', sans-serif;
                        text-decoration: none;
                        font-style: normal;
                        line-height: 1.2;
                        transition: 0.5s;
                        font-weight: 600;
                        font-size: 27px;
                    }
                    p {
                        color: #4e4e44;
                        transition: 0.5s;
                        font-size: 14px;
                        text-align: left;
                    }
                    .product-icon {
                        i {
                            float: right;
                            display: inline-block;
                            margin-top: -9px;
                            font-size: 20px;
                            color: #fff;
                            margin-right: -6px;
                            transition: .5s;
                        }
                    }
                }
                .product-content-inner::before {
                    position: absolute;
                    content: "";
                    z-index: -1;
                    left: 0;
                    top: 0;
                    background: linear-gradient(to left, #dc2a47a3 0%, #e2264b 100%);
                    width: 0;
                    height: 100%;
                    transition: .5s;
                    border-radius: 5px;
                }
            }
            .product-content::before {
                position: absolute;
                content: "";
                z-index: -1;
                right: 0;
                bottom: 0;
                background:  linear-gradient(to left, #dc2a47a3 0%, #e2264b 100%);
                width: 60px;
                height: 52px;
                border-radius: 55px 0 5px 0;
                transition: .5s;
            }
            .product-content::after {
                position: absolute;
                content: "";
                z-index: -1;
                right: 0;
                bottom: 0;
                background: #fff;
                width: 0;
                height: 52px;
                border-radius: 55px 0 5px 0;
                transition: .5s;
            }
        }
    }
    .rayak:hover {
        .product-content {
            .product-content-inner {
                h3 a,p {
                    color: #fff;
                }
                .product-icon {
                    i {
                        color: #dc2a47a3;
                    }
                }
            }
            .product-content-inner::before {
                width: 100%;
            } 
        }
        .product-content::after {
            width: 60px;
            
        }
    }
}

