.sys-admin {
    padding: 100px 0;
    border-radius: 10px;
    background-image: url(../images/about-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .left-side {
        .sidebar {
            background-image: url(../images/about-bg.png);
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center center;
            // background-color: #fff;
            padding-bottom: 1rem;
            border-radius: 10px;
            box-shadow: 2px 0 5px rgb(0 0 0 / 20%);
            .title {
                padding: 10px 13px;
                font-size: 22px;
                color: #222;
                border-bottom: 1px solid #4e4e4e;
                border-left: 4px solid #2f6c9a;
                border-radius: 5px;
            }
            .sidebar-list {
                margin-top: 2rem;
                color: #222;
                line-height: 3;
                list-style: none;
                padding-left: 0;
                li {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    padding-left: 40px;
                    p {
                        margin-bottom: 0;
                        background: linear-gradient( to right, #21aaff, 50%, #222 50%);
                        -webkit-text-fill-color: transparent;
                        -webkit-background-clip: text;
                        background-size: 200% 100%;
                        background-position: 100%;
                        transition: 0.3s;
                    }
                    i  {
                        margin-right: 1rem;
                    }
                }
                li:hover {
                    border-left: 4px solid #2f6c9a;
                    border-radius: 5px;
                    background-color: #fff;
                    box-shadow: 0px 0px 2px 0px #6c6c6c;
                    p {
                        background-position: 0;
                        transform: translateX(10px);
                    }
                }
               
            }
        }
        .img-box {
            position: relative;
            width: 320px;
            height: 280px;
            margin-top: 10rem;
            
            img {
                width: 100%;
                height: 100%;
                border-radius: 7px;
            }
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #21aaff61;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 7px;
                h2 {
                    text-align: center;
                    font-weight: 600;
                }
            }
        }
    }
   
    .right_side {
        .img-box {
            img {
                width: 100%;
                border-radius: 10px;
            }
        }
        .primary-title {
            position: relative;
            color: #2f6c9a;
            font-size: 30px;
            font-weight: 700;
            width: fit-content;
            margin: 2rem 0 1rem;
        }
        .primary-title::after {
            position: absolute;
            content: "";
            width: 50%;
            height: 3px;
            border-radius: 50%;
            bottom: -5px;
            left: 0;
            background-color: #2f6c9a;
        }
        p {
            color: #4e4e4e;
        }
        .secondary-title {
            color: #21aaff;
            font-size: 22px;
            margin: 1rem 0;
        }
        ul {
            list-style: none;
            padding-left: 0;
            li {
                display: flex;
                color: #4e4e4e;
                margin-bottom: 10px;
                .img-box {
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}