.bunner {
    // background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5));
    // background-image: url(../images/products.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    height: 320px;
    position: relative;
    // .overlay {
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     top: 0;
    //     bottom: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: #060922;
    //     opacity: 0.35;

    // }
    .title {
        position: absolute;
        top: 38%;
        left: 5%;
        h1 {
            position: relative;
            font-size: 55px;
            color: #fff;
            margin-bottom: 20px;
            font-weight: 700;
            margin-left: 42px;
        }
        ul {
            display: flex;
            flex-direction: row;
            position: relative;
            list-style: none;
            li {
                font-weight: 800;
                margin: 0 5px;
                color: #fff;
                font-size: 16px;
                i {
                    color: #7b68ee;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    cursor: pointer;
                    transition: 0.4s;
                }
                a:hover {
                    color: #7b68ee;
                }
            }
           
        }
    }
   
}
.services {
    padding-top: 100px;
    padding-bottom: 100px;
    .service-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        margin-top: 200px;
    }
    .left-side {
        text-align: left;
        .main-title {
            font-size: 20px;
            color: #21aaff !important;
            margin: 0 0 1rem 1rem;
        }
        .main-title::before {
            height: 2px;
            background-color: #21aaff !important;
        }
        .main-title::after {
            height: 2px;
            background-color:#21aaff !important;
        }
        .title {
            color: #2f6c9a;
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 2rem;
        }
        .more-btn{
            margin-top: 4rem;
            outline: none;
            text-decoration: none;
            font-size: 16px;
            color: #ffffff;
            width: fit-content;
            padding: 12px 30px;
            text-transform: uppercase;
            position: relative;
            display: block;
            cursor: pointer;
            text-align: center;
            overflow: hidden;
            z-index: 1;
            border: none;
            border-radius: 8px;
            background: #21aaff;
            box-shadow: 0 3px 24px rgb(0 0 0 / 10%);
            i {
                margin-left: 8px;
                color: #fff;
            }
        }
        .more-btn:hover {
            color: #fff;
        }
        .more-btn::before {
            position: absolute;
            content: "";
            left: -2px;
            top: -2px;
            width: 15px;
            height: 15px;
            border-radius: 8px;
            transition: .5s; 
            z-index: -1;
            background: linear-gradient(to left, #345883 20%, #4f9ed9 100%);
            transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
        }
        .more-btn:hover::before {
            width: 105%;
            height: 105%;
        }
    }
    .right-side {
        .service-box {
            position: relative;
            border-radius: 0.5rem;
            padding: 2rem;
            border: 1px solid #21aaff;
            box-shadow: 0px 0px 10px 0px rgba(6, 9, 34, 0.1);
            transition: all 0.3s ease-in-out 0s;
            z-index: 0;
            background-color: #fff;
            .service-icon {
                width: 70px;
                height: 70px;
                margin-bottom: 1rem;
                transition: all 0.3s ease-in-out 0s;
                .w-img {
                    display: none;
                }
                img {
                    width: 100%;
                    transition: all 0.3s ease-in-out 0s;
                }
            }
            .service-num {
                font-size: 5rem;
                font-weight: 900;
                position: absolute;
                top: 1rem;
                right: 2rem;
                color: #4e4e4e;
                opacity: 0.2;
                line-height: 1;
            }
            .service-content {
                margin-bottom: 1.5rem;
                .service-title {
                    text-transform: capitalize;
                    font-size: 1.75rem;
                    font-weight: 600;
                    margin-bottom: 1.25rem;
                    color: #060922;
                }
                .service-text {
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 1.5;
                    margin: 0;
                    color: #4e4e4e;
                    opacity: 0.85;
                }
            }
            .read-more {
                text-transform: capitalize;
                text-decoration: none;
                color: #21aaff;
                font-weight: 600;
                position: relative;
                display: inline-flex;
                align-items: center;
                cursor: pointer;
                transition: all 0.3s ease-in-out 0s;
                i {
                    font-size: 1.5rem;
                    margin-left: 0.85rem;
                    transition: transform 0.3s ease-in-out 0s;
                }
            }
            .read-more:hover {
                i {
                    transform: translateX(5px);
                }
            }
        }
        .active {
            background-color: #21aaff;
            .service-icon {
                .c-img {
                    display: none;
                }
                .w-img {
                    display: block;
                }
            }
            .service-num {
                opacity: 0.3;
            }
            .service-content {
                .service-title {
                    color: #fff;
                }
                .service-text {
                    color: #fff;
                    opacity: 0.75;
                }
            }
            .read-more {
                color: #fff;
            }
        }
        .service-box:hover {
            background-color: #21aaff;
            .service-icon {
                .c-img {
                    display: none;
                }
                .w-img {
                    display: block;
                    transform: rotateY(180deg);
                }
            }
            .service-num {
                opacity: 1;
            }
            .service-content {
                margin-bottom: 1.5rem;
                .service-title, .service-text {
                    color: #fff;
                }
            }
            .read-more {
                color: #fff;
            }
        }

    }
}    